version: 1
mac:
  account: tomasz.walczuk
  service_root: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner"
  api_socket: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/run/local-api.sock"
  locald_socket: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/run/locald.sock"
  sqlite: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/state/local.db"
  mailbox_root: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/mailbox"
  workspaces: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/workspaces"
  script_temp_root: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/tmp/scripts"
  backups: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/backups"
  remote_endpoint_profile: linux-poc
  remote_endpoint: https://129.151.232.40:8443
  remote_server_ca_certificate: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/secrets/poc-ca.pem"
  ssh_host_alias: remote-session-runner
  ssh_known_hosts: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/secrets/ssh_known_hosts"
  direct_client_certificate: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/secrets/direct-client.pem"
  reconciliation_deadline: 24h
secret_references:
  dispatcher_ssh_key:
    file: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/secrets/dispatcher_ed25519"
  direct_client_private_key:
    file: "/Users/tomasz.walczuk/Library/Application Support/RemoteSessionRunner/secrets/direct-client.key"
environment_registry:
  mac-dev:
    base_system: macOS
    host_class: macOS workstation
    effective_account: tomasz.walczuk
    allowed_targets:
      - kind: local
        profile: mac-workstation
    allowed_source_modes: [empty, local_worktree]
    allowed_repository_aliases: []
    allowed_controllers:
      - type: local_user
        id: tomasz.walczuk
  linux-dev:
    base_system: Ubuntu 20.04.6 LTS
    host_class: Ubuntu Linux host
    effective_account: ubuntu
    allowed_targets:
      - kind: remote
        profile: linux-host
    allowed_source_modes: [empty]
    allowed_repository_aliases: []
    allowed_controllers:
      - type: queued_mac
        id: tomasz.walczuk
      - type: direct_mtls
        id: tomasz.walczuk
